html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

header {
  margin-top: 40px;
  color: #FFFFFF;
  font-family: inherit;
}

code {
  padding: 10px 20px;
  border-radius: 30px;
  color: #00FF00;
  font-weight: 600;
  background: none;
}

header .tagline {
  color: #000000;
  font-weight: 200;
}

h1, h3 {
  font-weight: bolder;
}

h1, h3, header .tagline {
  font-family: 'Comfortaa', 'Noto Sans', sans-serif;
}

h3 {
  color: #9facbd;
}

p.lead {
  margin-bottom: 30px;
}

form button {
  text-indent: 16px;
  cursor: pointer;
  margin: 10px !important;
  color: #9facbd;
  border: 1px solid #d3dce6;
  height: 35px;
  padding: 11px;
  font-size: .8em;
  -webkit-font-smoothing: antialiased;
  outline: none;
  transition: all .8s ease;
  font-family: inherit;
}

form button:hover,
form input[type=text]:focus {
  border-color: #767f8a !important;
  color: #9facbd !important;
  border-width: 1.2px !important;
}

form button i {
  position: relative;
  vertical-align: middle;
  margin-right: 4px;
}

form button.shorten,
form button.shorten:hover {
  background-color: #d3dce6 !important;
  border-color: #d3dce6 !important;
  color: #FFFFFF !important;
}

form input {
  text-indent: 30px !important;
  margin-top: 9px !important;
  border: 1px solid #b9c7d7 !important;
  color: #9facbd !important;
  font-size: .8em !important;
  -webkit-font-smoothing: antialiased;
  outline: none;
  box-shadow: none !important;
}

form p { color: #3c4859; }

.row-huge { margin: 40px 0; }

.huge { height: 15vh; }

.error-emoji {
  color: rgba(0, 0, 0, 0.4);
  font-size: 10.5rem;
}

.error-text { margin-top: 40px !important; }

.error-text a {
  color: #9facbd;
  font-weight: bolder;
  border: 1px solid #9facbd;
  height: 35px;
  padding: 11px;
}

.main .description {
  height: 100vh;
  background-image: url(/images/svg/hexagon-background.svg);
  background-color: #4f565e;
  background-repeat: repeat-y;
  background-size: 100%;
  padding: 15px 20px;
  justify-content: center !important;
  display: flex;
  align-items: center;
}

.main .editor {
  height: 100vh;
}
